.screenshot {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
}

.command-log {
  width: 500px; /* adjust as needed */
  height: 300px; /* adjust as needed */
  max-width: 500px;
  max-height: 300px;
  background-color: black;
  color: white; /* to make the text visible on the black background */
  overflow: auto; /* to add scrollbars if the content exceeds the width/height */
  white-space: pre-wrap; /* to wrap the text if it exceeds the width */
}
